body{
    background-color:rgba(255, 197, 207, 0.753);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    
}
.sub-screen{
    width: 100px;
    text-align: right;
    line-height: 70px;
    height:50px;
    position:relative;
    left:170px;
    top: 25px;
    margin-bottom: 10px;
}
.main-screen{
    width: 250px;
    text-align: right;
    line-height: 70px;
    height: 80px;
    background-color: pink;
    margin: 30px;
    margin-left:25px;
    box-shadow:4px 6px rgba(255, 197, 207, 0.753), 6px 12px rgb(253, 207, 214);
}
.main-container{
    width: 23%;
    height: 550px;
    border: pink 2px solid;
    border-radius:20px;
    background-color: white;
    
    
}

button:hover{
    background-color: rgba(255, 192, 203, 0.692);
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-weight:500;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 40px;
}

#equalsTo{
    grid-area:4/ 4/ 6;
    background-color:rgba(255, 192, 203, 0.637);
    margin-right: 27px;
    height:100px;
}